ion-content {
    align-self: center;
    height: 90%;
    width: 85%;
    font-family: 'Mark OT', sans-serif;
}

ion-item {
    border: none !important;
}

ion-row {
    margin-bottom: 1px !important;
}

.ion-label-inner {
    font-size: small;
}

// .register-child-container {
//     padding: 40px;
// }
// .register-child__input-row {
//     margin-top: 35px;
// }
// .register-child__document-label {
//     margin-top: 10px;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 24px;
//     color: #4d4d4d;
// }
// .selected-child-element {
//     padding: 0px;
// }
// .register-child__document-input {
//     display: flex;
//     justify-content: flex-end;
// }
// .register-child__form-info {
//     font-size: 12px;
// }
// .register-child__button-container {
//     display: flex;
//     justify-content: flex-end;
// }