<ion-header>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <img src="{{imgRoute}}logo-emi-1.svg">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="ion-padding-top">

    <ion-row class="ion-padding-top">
        <ion-col size="12">
            <span class="title-primary">{{'PUBLIC.PASSWORD.rememberPasswordTitle' | translate}}</span>
        </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
        <ion-col size="12">
            <span class="subtitle-opacity">{{'PUBLIC.PASSWORD.rememberPasswordSubtitle' | translate}}</span>
        </ion-col>
    </ion-row>

    <form [formGroup]="passForm">

        <ion-row>

            <ion-col size="12">
                <ion-item class="ion-item-form-input">
                    <ion-label position="floating"> {{'PUBLIC.SHARED.password' | translate}}</ion-label>
                    <ion-input formControlName="password" id="password"></ion-input>
                </ion-item>
            </ion-col>

            <ion-col size="12">
                <span class="ion-validator" *ngIf="this.passForm.controls.password.hasError('required') && this.passForm.controls.password.touched">
                    {{'PUBLIC.SHARED.obligatotyField' | translate}}
                </span>
            </ion-col>

            <ion-col size="12">
                <ion-item class="ion-item-form-input">
                    <ion-label position="floating"> {{'PUBLIC.SHARED.passwordConfirm' | translate}}</ion-label>
                    <ion-input formControlName="passwordConfirm" id="passwordConfirm"></ion-input>
                </ion-item>
            </ion-col>

            <ion-col size="12">
                <span class="ion-validator" *ngIf="this.passForm.controls.password.hasError('required') && this.passForm.controls.password.touched">
                    {{'PUBLIC.SHARED.obligatotyField' | translate}}
                </span>
                <span class="ion-validator" *ngIf="!this.passForm.controls.passwordConfirm.hasError('required') && this.passForm.controls.passwordConfirm.hasError('invalidEqualsEmail') && this.passForm.controls.password.touched">
                    {{'PUBLIC.SHARED.equalPassword' | translate}}
                </span>
            </ion-col>

        </ion-row>

        <ion-row class="ion-padding-top">
            <ion-col size="12">
                <app-password-validator [description]="'Mínimo 8 caracteres.'" [regex]="regex.min8Characters" [textValidation]="this.passForm.controls.password.value"></app-password-validator>
                <app-password-validator [description]="'Incluye al menos un carácter en máyuscula.'" [regex]="regex.upperCaseCharacter" [textValidation]="this.passForm.controls.password.value"></app-password-validator>
                <app-password-validator [description]="'Incluye al menos un número.'" [regex]="regex.min1Number" [textValidation]="this.passForm.controls.password.value"></app-password-validator>
                <app-password-validator [description]="'Incluye un carácter especial.'" [regex]="regex.specialCharacter" [textValidation]="this.passForm.controls.password.value"></app-password-validator>
            </ion-col>

        </ion-row>

        <ion-row class="ion-padding-top d-flex ion-justify-content-center">
            <ion-col size="12">
                <app-button [configuration]="continuarButton" (click)="complete()" id="continuarButton"></app-button>
            </ion-col>
        </ion-row>

    </form>

    <app-loader *ngIf="isLoading"></app-loader>

</ion-content>