<ion-header>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <img src="{{imgRoute}}logo-emi-1.svg">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="ion-padding-top">

    <ion-row class="ion-padding-top">
        <span class="title-primary">{{'PUBLIC.PASSWORD.rememberPasswordTitle' | translate}}</span>
    </ion-row>

    <ion-row class="ion-padding-top">
        <span class="subtitle-opacity">{{'PUBLIC.PASSWORD.rememberMsj' | translate}}</span>
    </ion-row>

    <ion-row class="pt-2">
        <span class="subtitle-opacity text-description">{{'PUBLIC.PASSWORD.choose' | translate}}</span>
    </ion-row>

    <ion-row class="ion-padding-top d-flex ion-justify-content-center">
        <ion-col>
            <app-button routerLink="/onboarding/recover-password-mail" [configuration]="mailBtn" id="mailBtn"></app-button>
        </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top d-flex ion-justify-content-center">
        <ion-col>
            <app-button routerLink="/onboarding/recover-password-phone" [configuration]="smsBtn" id="smsBtn"></app-button>
        </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
        <a class="color-secundary" routerLink='/onboarding/ini-sesion' routerLinkActive="active">{{'PUBLIC.SHARED.session' | translate}}</a>
    </ion-row>

</ion-content>