<ion-header>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <img src="{{imgRoute}}logo-emi-1.svg">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="ion-padding-top">

    <ion-row class="ion-padding-top">
        <span class="title-primary">{{'PUBLIC.PASSWORD.rememberPasswordTitle' | translate}}</span>
    </ion-row>

    <ion-row class="ion-padding-top">
        <span class="subtitle-opacity">{{'PUBLIC.PASSWORD.code' | translate}}</span>
    </ion-row>

    <form [formGroup]="codeForm" keyup.enter="onCodeCompleted()">

        <ion-row class="ion-padding-top">

            <ion-col size="12">
                <code-input id="code" [isCodeHidden]="false" [codeLength]="4" (codeChanged)="onCodeChanged($event)" class="input-number">
                </code-input>
            </ion-col>

        </ion-row>

        <ion-row class="ion-padding-top d-flex ion-justify-content-center">
            <ion-col>
                <app-button [configuration]="continuarButton" [disabled]="codeIncomplete" (click)="onCodeCompleted()" id="continuarButton"></app-button>
            </ion-col>
        </ion-row>

    </form>

    <app-loader *ngIf="isLoading"></app-loader>

</ion-content>