@import '../../../../../styles-variables.scss';
ion-content {
    align-self: center;
    height: 90%;
    width: 85%;
}

.subtitle-opacity {
    line-height: 25px;
}

ion-row {
    margin-bottom: 15px !important;
}

a {
    color: $primary-color;
    font-weight: bold;
}

code-input {
    --item-spacing: 10px;
    --item-height: 3em;
    --item-border: none;
    --item-border-bottom: 2px solid #dddddd;
    --item-border-has-value: none;
    --item-border-bottom-has-value: 2px solid #006AB2;
    --item-border-focused: none;
    --item-border-bottom-focused: 2px solid #006AB2;
    --item-shadow-focused: none;
    --item-border-radius: 0px;
}

.input-number {
    font-size: 25px;
    font-weight: bold;
}