section {
    align-self: center;
    height: 90%;
    width: 85%;
}

.change-email_title-container {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: bold;
}

.change-email__subtitle-container {
    color: #4d4d4d;
}

.change-email__button-container {
    display: flex;
    justify-content: flex-end;
}