<section>

    <form [formGroup]="emailForm">

        <ion-row class="ion-padding-top">
            <ion-label class="title-primary">{{"PORTAL.EDIT-USER-EMAIL.HederTitle" | translate}}</ion-label>
        </ion-row>

        <ion-row class="ion-padding-top">
            <ion-label>Ten presente que, al modificar tu correo electrónico, modificarás automáticamente el usuario con el que accedes hoy al portal.</ion-label>
        </ion-row>

        <ion-row class="ion-padding-top">
            <ion-label>
                {{"PORTAL.EDIT-USER-EMAIL.MessageInfo" | translate}}
            </ion-label>
        </ion-row>

        <ion-row class="ion-padding-top">
            <ion-item class="ion-item-form-input">
                <ion-label position="floating">Email Actual</ion-label>
                <ion-input type="text" ngControl="oldEmail" autocomplete="off" formControlName="oldEmail" name="oldEmail" id="oldEmail" placeholder="Escribe tu email" required></ion-input>
                <ion-col size="12">
                    <ion-label class="ion-validator">{{'PUBLIC.SHARED.obligatotyField' | translate}}</ion-label>
                </ion-col>
            </ion-item>
        </ion-row>

        <ion-row>
            <ion-item class="ion-item-form-input">
                <ion-label position="floating">Nuevo Email</ion-label>
                <ion-input type="text" autocomplete="off" ngControl="newEmail" name="newEmail" id="newEmail" validateEqual="confirmEmail" reverse="true" formControlName="newEmail" placeholder="Escribe una nuevo Email" required></ion-input>
                <ion-col size="12">
                    <ion-label class="ion-validator">{{'PUBLIC.SHARED.validCorreo' | translate}}</ion-label>
                </ion-col>
            </ion-item>
        </ion-row>

        <ion-row>
            <ion-item class="ion-item-form-input">
                <ion-label position="floating">Confirmar nuevo Email</ion-label>
                <ion-input type="text" autocomplete="off" formControlName="confirmEmail" required name="confirmEmail" validateEqual="newEmail" id="confirmEmail" placeholder="Confirma tu nuevo Email"></ion-input>
                <ion-col size="12">
                    <ion-label *ngIf="this.emailForm.controls.confirmEmail.hasError('required')">
                        {{'PUBLIC.SHARED.validCorreo' | translate}}
                    </ion-label>
                    <ion-label *ngIf="!this.emailForm.controls.confirmEmail.hasError('required') && this.emailForm.controls.confirmEmail.hasError('invalidEqualsEmail')">
                        Los correos deben coincidir
                    </ion-label>
                </ion-col>
            </ion-item>
        </ion-row>

        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <app-button [configuration]="cancelButtonConfig" [routerLink]="['/portal/home']"></app-button>
                </ion-col>
                <ion-col size="6">
                    <app-button [configuration]="saveButtonConfig" (click)="confirmMailChange()" [disabled]="!emailForm.valid"></app-button>
                </ion-col>
            </ion-row>
        </ion-grid>

        <app-loader *ngIf="isLoading"></app-loader>

    </form>

</section>