@import './../../../../../../styles-variables.scss';
ion-datetime {
    font-family: 'Mark OT', sans-serif;
    font-size: 12px;
}

.text-radio-title {
    font-size: 12px;
    font-weight: bold;
}

.text-radio {
    font-size: 12px;
}

ion-radio {
    font-family: 'Mark OT', sans-serif;
    font-size: 12px;
    border: none !important;
}

ion-item {
    border: none !important;
}