@import './../../../../../styles-variables.scss';
:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 20px;
}

ion-content {
    align-self: center;
    height: 90%;
    width: 85%;
}

ion-row {
    margin-bottom: 1px !important;
}

ion-label {
    pointer-events: all !important;
}