<section>

    <form [formGroup]="passwordForm" class="change-password-container container">

        <ion-row class="ion-padding-top">
            <ion-label class="title-primary">{{"PORTAL.CHANGE-PASSWORD.HederTitle" | translate}}</ion-label>
        </ion-row>

        <ion-row class="ion-padding-top">
            <ion-label class="title-subtitle">Ingresa los siguientes campos para cambiar tu contraseña.</ion-label>
        </ion-row>

        <ion-row class="ion-padding-top">
            <ion-item class="ion-item-form-input">
                <ion-label position="floating">{{"PORTAL.CHANGE-PASSWORD.OldPassword" | translate}}</ion-label>
                <ion-input type="password" ngControl="oldPassword" autocomplete="off" formControlName="previousPassword" name="oldPassword" id="oldPassword" placeholder="Escribe tu contraseña" required></ion-input>
            </ion-item>
            <ion-col size="12">
                <ion-label class="ion-validator" *ngIf="passwordForm.hasError('required', 'oldPassword')">
                    {{"PORTAL.CHANGE-PASSWORD.OldPasswordRequired" | translate}}</ion-label>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-item class="ion-item-form-input">
                <ion-label position="floating">{{"PORTAL.CHANGE-PASSWORD.NewPassword" | translate}}</ion-label>
                <ion-input type="password" [minlength]="minlengthPassword" autocomplete="off" ngControl="newPassword" name="newPassword" id="newPassword" validateEqual="confirmPassword" reverse="true" formControlName="newPassword" placeholder="Escribe una nueva contraseña"
                    required></ion-input>
            </ion-item>
            <ion-label class="ion-validator" *ngIf="!passwordForm.hasError('required', 'newPassword') && passwordForm.hasError('touched', 'newPassword')">
                {{"PORTAL.CHANGE-PASSWORD.NewPasswordRequired" | translate}}
            </ion-label>
        </ion-row>

        <ion-row>
            <ion-item class="ion-item-form-input">
                <ion-label position="floating">{{"PORTAL.CHANGE-PASSWORD.ConfirmPassword" | translate}}</ion-label>
                <ion-input type="password" autocomplete="off" formControlName="confirmPassword" name="confirmPassword" validateEqual="newPassword" id="confirmPassword" placeholder="Confirma tu nueva contraseña"></ion-input>
            </ion-item>
            <ion-label class="ion-validator" *ngIf="passwordForm.hasError('required', 'confirmPassword')">
                {{'PUBLIC.SHARED.obligatotyField' | translate}}
            </ion-label>
        </ion-row>

        <ion-row>
            <ion-label class="ion-validator" *ngIf="!passwordForm.hasError('required', 'confirmPassword') && passwordForm.hasError('invalidEqualsEmail', 'confirmPassword')">
                {{'PUBLIC.SHARED.equalPassword' | translate}}
            </ion-label>
        </ion-row>

        <ion-row class="row change-password__notifications-container">
            <app-password-validator [description]="'Mínimo 8 caracteres.'" [regex]="regex.min8Characters" [textValidation]="this.passwordForm.controls.newPassword.value"></app-password-validator>
            <app-password-validator [description]="'Incluye al menos un carácter en máyuscula.'" [regex]="regex.upperCaseCharacter" [textValidation]="this.passwordForm.controls.newPassword.value"></app-password-validator>
            <app-password-validator [description]="'Incluye al menos un número.'" [regex]="regex.min1Number" [textValidation]="this.passwordForm.controls.newPassword.value"></app-password-validator>
            <app-password-validator [description]="'Incluye un carácter especial.'" [regex]="regex.specialCharacter" [textValidation]="this.passwordForm.controls.newPassword.value"></app-password-validator>
        </ion-row>

        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <app-button [configuration]="cancelButtonConfig" (click)="cancel()"></app-button>
                </ion-col>
                <ion-col size="6">
                    <app-button [configuration]="saveButtonConfig" (click)="changePassword()" [disabled]="!passwordForm.valid"></app-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </form>

    <app-loader *ngIf="isLoading"></app-loader>

</section>