@import './../../../../../../../styles-variables.scss';
ion-label {
    pointer-events: all !important;
}

.title-secondary {
    font-size: small;
}

.change-password_title-container {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.change-password__subtitle-container {
    color: #4d4d4d;
    margin-top: 20px;
    margin-bottom: 20px;
}

.change-password__button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.change-password__notifications-container {
    margin-top: 20px;
    margin-bottom: 20px;
}