@import "./../../../../../../../styles-variables.scss";
ion-content {
    font-family: 'Mark OT', sans-serif;
    align-self: center;
    height: 90%;
    width: 85%;
}

ion-row {
    margin-bottom: 10px !important;
}