<!-- <div class="container plans-card-container">

    <ion-row>
        <div class="col-md-3 col-sm-12">
            <span>Beneficiarios</span>
        </div>
        <div class="col-3 mobile-hide">
            <span>Matricula</span>
        </div>
        <div class="col-2 mobile-hide">
            <span>Modalidad de pago</span>
        </div>
        <div class="col-2 mobile-hide">
            <span>Total</span>
        </div>
        <div class="col-2 mobile-hide">
            <span>Acción</span>
        </div>
    </ion-row>

    <ion-row *ngFor="let plan of planList let first = first; let last = last" class="row plans-row" [class.last-row]="last">
        <div class="col-md-3 col-sm-12">
            <span class="plans-row-mobile-indicator">Nombre:</span>
            <span>{{getNames(plan)}}</span>
        </div>
        <div class="col-md-3 col-sm-12">
            <span class="plans-row-mobile-indicator">Matricula:</span>
            <span>{{matriculaFamilia}}</span>
        </div>
        <div class="col-md-2 col-sm-12">
            <span class="plans-row-mobile-indicator">Modalidad de pago:</span>
            <span>{{facturacion}}</span>
        </div>
        <div class="col-md-2 col-sm-12">
            <span class="plans-row-mobile-indicator">Total:</span>
            <span>{{getTotal(plan) | currency}}</span>
        </div>

        <ion-row>
            <ion-col sizeMd>
                <ion-button size="small" color="light" class="plans-card-action-button" (click)="onShowConsumptions(plan.ProductosContratados)">
                    Ver Consumos
                </ion-button>
            </ion-col>
        </ion-row>

    </ion-row>

</div> -->