@import "../../../../styles-variables.scss";
.cancel {
    color: #a8a5a5;
    pointer-events: auto;
}

.col-md-12 {
    border-radius: 30px;
    margin-bottom: -8px;
    margin-top: -10px;
    background-color: white;
}

.modal-center-align {
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.icon-close {
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

.icon-header {
    margin: auto;
    padding-bottom: 25px;
}

.subTitle {
    text-align: center;
    align-self: center;
    color: #00456b;
    font-family: Mark OT;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

.buttons {
    pointer-events: auto;
    align-self: center;
}

.modal-content {
    width: 80% !important;
}

.description {
    margin-top: 30px;
    padding-bottom: 25px;
    text-align: center;
    color: #000000;
}

.twoButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.size-two-button {
    width: 130px !important;
    font-size: 14px !important;
}

.one-button {
    background: white;
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    color: #000000;
    opacity: 0.4;
}