@import './../../../../../../styles-variables.scss';
.container-characters-counter {
    background-color: #f3f3f3;
    padding: 1px;
    margin-top: 10px;
    border-radius: 4px;
    color: #555;
}

.iconInfo {
    margin-left: -28px;
    margin-top: 5px;
}

.iconInfo2 {
    margin-top: 8px;
    margin-left: 12px;
}

.emi1-txttitulofamiliar {
    font-size: 22px;
    text-align: center;
    color: #494949;
    margin: 0;
    text-align: left;
}