<ion-header>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <img src="{{imgRoute}}logo-emi-1.svg">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="ion-padding-top">

    <ion-row class="ion-padding-top">
        <span class="title-primary">{{'PUBLIC.PASSWORD.rememberPasswordTitle' | translate}}</span>
    </ion-row>

    <ion-row class="ion-padding-top">
        <span class="subtitle-opacity">{{'PUBLIC.PASSWORD.rememberPasswordSubtitle' | translate}}</span>
    </ion-row>

    <ion-row>
        <span class="subtitle-opacity text-description">Ingrese a continuación su correo electrónico para que podamos validarte.</span>
    </ion-row>

    <form [formGroup]="emailForm">

        <ion-row class="ion-padding-top ion-justify-content-center">
            <ion-item class="ion-item-form-input">
                <ion-label position="floating">{{'PUBLIC.SHARED.correo' | translate}}</ion-label>
                <ion-input type="email" formControlName="email" id="email"></ion-input>
            </ion-item>
        </ion-row>

    </form>

    <ion-row class="ion-padding-top d-flex ion-justify-content-center">
        <ion-col>
            <app-button [configuration]="continuarButton" [disabled]="this.emailForm.invalid" (click)="forgotPassword()" id="continuarButton"></app-button>
        </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
        <a class="color-secundary" routerLink='/onboarding/ini-sesion' routerLinkActive="active">{{'PUBLIC.SHARED.session' | translate}}</a>
    </ion-row>

    <app-loader *ngIf="isLoading"></app-loader>

</ion-content>