@import './../../../../../../../styles-variables.scss';
.modal-rounded {
    .modal-content {
        border-radius: 20px !important;
        //width: auto;
        height: 300px !important;
        border: none !important;
        margin: 0 20px;
        justify-content: center;
    }
}

.cancel {
    color: #a8a5a5;
    pointer-events: auto;
}

.col-md-12 {
    border-radius: 35px;
    margin-bottom: -8px;
    margin-top: -10px;
    background-color: white;
    min-height: 150px;
    align-items: center;
}

.modal-center-align {
    justify-content: center;
    padding-left: 2px;
    padding-right: 2px;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

.title-row{
    justify-content: center;
}

.title{
    color: $secondary-color;
    font-size: 20px;
    font-weight: 30px;
}

.icon-close {
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

.icon-header {
    margin: auto;
    padding-bottom: 25px;
}

.modal-content {
    width: 90% !important;
}

.consumptions-container-categories {
    border-bottom: 1px solid #000;
    color: $primary-color;
    padding-bottom: 10px;
    font-weight: 600;
}

.consumptions-container-consumptions {
    padding-bottom: 10px;
    padding-top: 10px;
}