ion-content {
    align-self: center;
    height: 90%;
    width: 85%;
}

ion-item {
    border: none !important;
}

// .selected-child-container {
//     margin: 0px;
//     padding: 0px;
//     padding-left: 10px;
//     padding-right: 10px;
// }
// .selected-child__title {
//     margin-top: 20px;
//     font-weight: 800;
//     font-size: 24px;
//     line-height: 30px;
//     color: #4d4d4d;
// }
// .selected-child__subtitle {
//     margin-top: 20px;
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 24px;
//     color: #4d4d4d;
// }
// .child-selector {
//     margin-top: 35px;
//     width: 500px;
// }
// .selected-child__button-container {
//     margin-top: 35px;
//     display: flex;
//     justify-content: flex-end;
//     padding-right: 30px;
// }