<ion-header>
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col size="12">
                <img src="{{imgRoute}}logo-emi-1.svg">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>

    <ion-row class="ion-padding-top">
        <ion-label class="title-primary">{{'PUBLIC.REGISTRATION.registerPasswordTitle' | translate}}</ion-label>
    </ion-row>

    <ion-row class="ion-padding-top">
        <ion-label class="subtitle-opacity">{{'PUBLIC.REGISTRATION.registerPasswordSubTitle' | translate}}</ion-label>
    </ion-row>

    <form [formGroup]="formPassword" class="ion-padding-top">

        <ion-row>

            <ion-col size="12">
                <ion-item class="ion-item-form-input">
                    <ion-label position="floating">{{'PUBLIC.SHARED.password' | translate}}</ion-label>
                    <ion-input [type]="hide ? 'password' : 'text'" formControlName="password" type="password"></ion-input>
                    <span (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <ion-icon>{{hide ? 'visibility_off' : 'visibility'}}</ion-icon></span>
                </ion-item>
            </ion-col>

            <ion-col size="12">
                <span class="ion-validator" *ngIf="this.formPassword.controls.password.hasError('required')">
                    {{'PUBLIC.SHARED.obligatotyField' | translate}}
                </span>
            </ion-col>

            <ion-col size="12">
                <ion-item class="ion-item-form-input">
                    <ion-label position="floating">{{'PUBLIC.SHARED.repeatPassword' | translate}}</ion-label>
                    <ion-input [type]="hideC ? 'password' : 'text'" formControlName="passwordConfirm" type="password"></ion-input>
                    <span (click)="hideC = !hideC" [attr.aria-label]="'HideC password'" [attr.aria-pressed]="hideC">
                    <ion-icon>{{hideC ? 'visibility_off' : 'visibility'}}</ion-icon></span>
                </ion-item>
            </ion-col>

            <ion-col size="12">
                <span class="ion-validator" *ngIf="this.formPassword.controls.passwordConfirm.hasError('required')">
                    {{'PUBLIC.SHARED.obligatotyField' | translate}}</span>
                <span class="ion-validator" *ngIf="!this.formPassword.controls.passwordConfirm.hasError('required') && this.formPassword.controls.passwordConfirm.hasError('invalidEqualsEmail')">
                    {{'PUBLIC.SHARED.equalPassword' | translate}}</span>
            </ion-col>

        </ion-row>

        <ion-row class="ion-padding-top">
            <app-password-validator [description]="'Mínimo 8 caracteres.'" [regex]="regex.min8Characters" [textValidation]="this.formPassword.controls.password.value"></app-password-validator>
            <app-password-validator [description]="'Incluye al menos un carácter en máyuscula.'" [regex]="regex.upperCaseCharacter" [textValidation]="this.formPassword.controls.password.value"></app-password-validator>
            <app-password-validator [description]="'Incluye al menos un número.'" [regex]="regex.min1Number" [textValidation]="this.formPassword.controls.password.value"></app-password-validator>
            <app-password-validator [description]="'Incluye un carácter especial.'" [regex]="regex.specialCharacter" [textValidation]="this.formPassword.controls.password.value"></app-password-validator>
        </ion-row>

        <ion-row class="ion-padding-top d-flex ion-justify-content-center">
            <app-button [configuration]="configurationButton" (click)="saveUser()" [disabled]="formPassword.invalid"></app-button>
        </ion-row>

    </form>

</ion-content>